

body{
  background-image: url('../images/back-ground.jpeg');
}

img{
  display: block;
  width: 120px; 
  margin-bottom: 15px; 
  margin-left: auto;
  margin-right: auto;
  /*hi*/
}

section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: auto;
  margin: 0 auto;
}


div:nth-child(2n) {
  border: 1px solid black;
}
div{
  padding: 30px; 
  margin:5px; 
  height: 120px;
  text-align: center;
vertical-align: middle;
line-height: 120px;

}

h1{
  text-align: center;
  text-transform: uppercase;
}

header{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 850px) {
  div:nth-child(2n) {
    border: 0px solid black;
  }

  section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: auto;
    margin: 0 auto;
  }
}